/.pytest_cache
/manuella TF.rtf
/retur_1_Vinterprojekt_Testrapport_SWAGLABS_Robert_Oberg.pdf
/Screenshots
/TestplanVinterprojekt.docx
/Vinterprojekt_Testrapport_SWAGLABS_Robert_Oberg.docx
/Vinterprojekt_Testrapport_SWAGLABS_Robert_Oberg.pdf
/Vinterprojekt_Testrapport_SWAGLABS_Robert_Oberg_BACKUP.docx
/__pycache__